@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --primary-color: #F0EFF1;
    --primary-accent-color: #76AED6;
    --secondary-color: #467EB5;
    --secondary-accent-color: #2F5999;
    --background-color: #222D35;

    --default-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--default-font);
}
.content-pane {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
}

.note-list {
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
}

.note-list > .list {
    height: 100%;
    background-color: var(--primary-accent-color);
}

.note-list > .options {
    background-color: #ff8339;
    display: flex;
    flex-direction: column;
    height: auto;
}

.note-list > .list > .notes
{
    text-align: center;
}


.note-list > .list > .notes > li
{
    padding: 10px 0;
}

.note-list > .list > .notes > li > a
{
    color: #f6f5f5;
    text-decoration: none;
    font-family: var(--default-font);
}

.note-list > .list > .notes > li:hover
{
    background-color: #2F5999;
}

.note-content {
    width: 80%;
    background-color: var(--secondary-color);
}